<div class="row col-sm-6 col-sm-offset-3 text-center">
	<h1>Welcome to Juicebox</h1>
	<p>Hey are you juicin it?</p>

	<!-- Nav Menu -->
	<button class="btn btn-success btn-lg" type="button" data-toggle="modal" data-target="#juiceModal">
	  Juice?
	</button>
	<%= link_to "About", about_path, :class => "btn btn-info btn-lg" %>

	<br><br>




	<%= image_tag "juiceHeadTop.png", :class => "img-responsive img-rounded center-block talkingHead" %>
	<%= image_tag "juiceHeadMouth.png", :id => "mouth", :class => "img-responsive img-rounded center-block talkingHead" %>

	<div>
		<p id="juiceCount">🍹: </p>
	</div>



		<!-- Modal -->
		<div class="modal fade" id="juiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-body">
		        <iframe width="100%" height="600" src="https://www.youtube.com/embed/gx-NLPH8JeM" frameborder="0" allowfullscreen></iframe>
		      </div>
		    </div>
		  </div>
		</div>

	
</div>

	<%= audio_tag("FlipFlap6.wav", :class => "audio-play", autoplay: false, controls: false, looping: false) %>
	<%= audio_tag("FlipFlap5.wav", :class => "audio-play", autoplay: false, controls: false, looping: false) %>
	<%= audio_tag("FlipFlap4.wav", :class => "audio-play", autoplay: false, controls: false, looping: false) %>
	<%= audio_tag("FlipFlap3.wav", :class => "audio-play", autoplay: false, controls: false, looping: false) %>
	<%= audio_tag("FlipFlap2.wav", :class => "audio-play", autoplay: false, controls: false, looping: false) %>
